<!--<div class="ui middle aligned selection divided list">-->
<!--book wird hier als parameter übergeben für book-list-item-->
<!--book wird hier als parameter übergeben für book-list-item-->
<!--Liste gehen wir durch und in der booklist wollen wir Book-items, immer wenn wir komponenten schachteln wollen, wollen wir für jedes buch ein item anlegen und details anzeigen
  also wenn wir von einer kind-kompontente daten übergeben wollen
  jeder a-Tag wird dann durch die kind-komponente ersetzt durch klasse
  @Input in der kind-komponente(book-details) teilt der kind-komponente mit dass sie das übergeben kann-->


<br>
<div *ngIf="isLoggedIn()">
  <h2>Herzlichen Willkommen {{user?.firstname}} {{user?.lastname}}</h2>
</div>
<div *ngIf="!isLoggedIn()">
  <div class="ui grid">
    <div class="four wide column">
      <h2>Hagenberg impft.</h2>
    </div>
    <div class="twelve wide column">Die Möglichkeit, sich impfen zu lassen, gibt es in ganz Österreich. Die Abläufe sind
      allerdings von Bundesland zu Bundesland verschieden und werden laufend weiterentwickelt. Wir aktualisieren die
      Informationen regelmäßig für Sie.

      Bei individuellen Fragen zur Corona-Schutzimpfung (Unverträglichkeiten, Allergien, Vorerkrankungen, etc.) wenden
      Sie
      sich bitte vertrauensvoll an Ihre betreuende Ärztin bzw. Ihren betreuenden Arzt.</div>
  </div>
</div>
<br>

<div *ngIf="user?.isadmin == true">
  <h2>Akutelle Impftermine</h2>
</div>

<div *ngIf="user?.isadmin == false || !isLoggedIn() ">
  <h2>Hier geht's zur Anmeldung</h2>
</div>

<table class="ui selectable celled table">
  <thead>
    <tr>
      <th>Ort</th>
      <th>Datum</th>
      <th>Uhrzeit</th>
      <th>Maximale Teilnehmeranzahl</th>
    </tr>

  </thead>
  <tbody>
    <tr *ngFor="let vaccination of vaccinations" class="item is-vaccination-list-item" [vaccination]="vaccination"
      [routerLink]="['./', vaccination.id]"></tr>
  </tbody>
  <!--</tbody>
  </table>-->
  <!--- <div *ngIf="!books" class="ui active dimmer">
    <div class="ui large text loader">Daten werden geladen</div>
  </div>
  <p *ngIf="books && !books.length">Es wurden noch keine Bücher am Server eingetragen.</p>-->

  <!--</div>-->