<h1>Impftermin hinzufügen</h1>
<form class="ui large form" [formGroup]="vaccinationForm" (ngSubmit)="submitForm()">

  <input type="hidden" name="id">

  <div class="field">
    <label>Maximale Teilnehmeranzahl</label>
    <input formControlName="max_participants">
    <div *ngIf="errors.max_participants" class="ui negative message">{{
      errors.max_participants }}</div>
  </div>

  <div class="field">
    <label>Datum</label>
    <input type="date" formControlName="date">
    <div *ngIf="errors.date" class="ui negative message">{{
      errors.date }}</div>
  </div>

  <div class="field">
    <label>Uhrzeit</label>
    <input type="time" formControlName="time">
    <div *ngIf="errors.time" class="ui negative message">{{
      errors.time }}</div>
  </div>


  <!--(change)="selectChangeHandler($event)"-->
  <div class="field">
    <label>Ort</label>
    <select class="ui dropdown" (change)="selectChangeHandler($event)">
      <option *ngFor="let location of locations" [value]="location.id">
      {{location.city}}</option>
    </select>
  </div>
  <br>

  <button type="submit" class="ui gray button"
[disabled]="vaccinationForm.invalid">Speichern</button>

</form>