<div *ngIf="!isUpdating()">
  <h2>Impftermin hinzufügen</h2>
  <p>Fügen Sie einen Impftermin zu einem bestehenden Impfort hinzu: </p>
</div>

<div *ngIf="isUpdating()">
  <h2>Impftermin bearbeiten</h2>
  <p>Bearbeiten Sie diesen bestehenden Impftermin: </p>
</div>
<br>
<form class="ui large form" [formGroup]="vaccinationForm" (ngSubmit)="submitForm()">

  <input type="hidden" name="id">

  <div class="field">
    <label>Maximale Teilnehmeranzahl</label>
    <input formControlName="max_participants">
    <div *ngIf="errors.max_participants" class="ui negative message">{{
      errors.max_participants }}</div>
  </div>

  <div class="field">
    <label>Datum</label>
    <input type="date" formControlName="date">
    <div *ngIf="errors.date" class="ui negative message">{{
      errors.date }}</div>
  </div>

  <div class="field">
    <label>Uhrzeit</label>
    <input type="time" formControlName="time">
    <div *ngIf="errors.time" class="ui negative message">{{
      errors.time }}</div>
  </div>


  <!--(change)="selectChangeHandler($event)"-->
  <!---->

  <div class="field">
    <label>Ort</label>
    <select class="custom-select" formControlName="location_id"[(ngModel)]="selectedLocation" >
      <option *ngIf="!vaccinationForm.value.select" [ngValue]="null" selected disabled></option>
      <option *ngFor="let location of locations" [ngValue]="location.id">
      {{location?.description}} {{location.city}}</option>

    </select>
    <div *ngIf="errors.location" class="ui negative message">{{
      errors.time}}</div>
  </div>
  <br>

  <button type="submit" class="ui teal right floated button"
[disabled]="vaccinationForm.invalid">Speichern</button>
  <button *ngIf="!isUpdating()" routerLink=".." class="ui gray right floated button">Abbrechen</button>
  <button *ngIf="isUpdating()" routerLink="../../vaccinations" class="ui gray right floated button">Abbrechen</button>
</form>