<div *ngIf="!isLoggedIn()">
  <h2>Login</h2>
  <p>Melden Sie sich an, um sich für einen Impftermin registrieren zu können: </p>
  <form class="ui large form" [formGroup]="loginForm" (ngSubmit)="login()">
    <div class="field">
      <label>E-Mail</label>
      <input type="email" id="username" formControlName="username">
      <div *ngIf="loginForm.get('username').invalid &&
     (loginForm.get('username').dirty || loginForm.get('username').touched) &&
     loginForm.get('username').hasError('required')" class="ui negative message">
        Benutzername ist verpflichtend </div>
      <div *ngIf="loginForm.get('username').invalid &&
     (loginForm.get('username').dirty || loginForm.get('username').touched) &&
     loginForm.get('username').hasError('email')" class="ui negative message">
        E-Mail Format überprüfen </div>
    </div>
    <div class="field">
      <label>Passwort</label>
      <input type="password" formControlName="password">
      <div *ngIf="loginForm.get('password').invalid &&
     (loginForm.get('password').dirty || loginForm.get('password').touched)" class="ui negative message">
        Passwort ist verpflichtend </div>
    </div>
    <button type="submit" class="ui teal button" [disabled]="loginForm.invalid">Login</button>
  </form>
</div>
<div *ngIf="isLoggedIn()">
  <h3>Ihre Daten:</h3>
  <p>{{user?.firstname}} {{user?.lastname}}<br>
  {{user?.street}} {{user?.number}}<br>
  {{user?.u_plz}} {{user?.u_city}}<br>
  Geburtstdatum: {{user?.birth | date:' dd.MM.yyyy'}}<br>
  SVNR: {{user?.svnr}}<br>
  E-Mail: {{user?.email}}<br>
  Telefonnummer: +43 {{user?.phonenumber}}</p>
  <br>
  <div *ngIf="user?.vaccination_id != null">
    <a routerLink="../vaccinations/{{user?.vaccination_id}}" class="ui left floated teal tiny button">Zum
      Impftermin</a>
  </div>
  <button type="button" class="ui left floated tiny gray button" (click)="logout()">Logout</button>
</div>