<!--nach diesem Tag schaut der Router und wenn er eine gefunden hat ersetzt er Tag durch Komponente-->
<div class="ui grid">
  <div class="two wide column"></div>
  <div class="twelve wide column">
    <div class="ui secondary pointing menu">
      <a routerLink="vaccinations" routerLinkActive="active" class="item"><i class="syringe icon"></i>Impfservice</a>

      <div class="right menu">
        <a *ngIf="user?.isadmin == true && isLoggedIn()" routerLink="admin" routerLinkActive="active"
          class="item"><i class="add icon"></i>Impftermin hinzufügen</a>
        <a routerLink="login" routerLinkActive="active" class="item">{{getLoginStatus()}}</a>
      </div>
    </div>
    <router-outlet></router-outlet>
  </div>
  <div class="two wide column"></div>
</div>