<div class="ui grid">
  <div class="sixteen wide column">
    <div class="ui card">
      <div class="content">
        <div class="header">{{vaccination?.location.city}} | {{vaccination?.location.description}}</div>
      </div>
      <div class="content">
        <h4 class="ui sub header">{{vaccination?.date | date:'EEEE, dd.MM.yyyy'}}</h4>
        <div class="ui small feed">
          <div class="event">
            <div class="content">
              <div class="summary">
                Anzahl der aktuellen Teilnehmer*innen: {{getcurParticipants()}} /{{ vaccination?.max_participants }}
              </div>
            </div>
          </div>
          <div class="event">
            <div class="content">
              <div class="summary">
                Uhrzeit: {{vaccination?.time}}
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
<div *ngFor="let user of vaccination.users">
  <div *ngIf="checkMaxParticipants()" class="ui negative message">
    <p>ACHTUNG: Es sind keine Plätze für diesen Termin frei</p>
  </div>
</div>
<br>
<div *ngIf="user?.isadmin == true && authService.isLoggedIn()">
  <div *ngIf="!vaccination.users.length; else Show">
    <div class="ui placeholder segment">
      <div class="ui icon header">
        <i class="users icon"></i>
        Es sind noch keine Personen für diese Impfung angemeldet.
      </div>
      <div class="ui teal tiny button">Hinzufügen</div>
    </div>
  </div>
  <ng-template #Show>
    <h2>Übersicht der Teilnerhmer*innen</h2>
    <table class="ui selectable celled table">
      <thead>
        <tr>
          <!--<th>Geschlecht</th>-->
          <th>Name</th>
          <th>Geburtsdatum</th>
          <th>SVNR</th>
          <th>Wohnort</th>
          <th>Telefonnummer</th>
          <th>E-Mail</th>
          <th>Impfstatus</th>
        </tr>

      </thead>
      <tbody>
        <tr *ngFor="let user of vaccination.users">
          <!--<td data-label="Geschlecht">{{user.gender}}</td>-->
          <td data-label="Name">{{user?.firstname}} {{user?.lastname}}</td>
          <td data-label="Geburtsdatum">{{user?.birth | date:' dd.MM.yyyy'}}</td>
          <td data-label="SVNR">{{user?.svnr}}</td>
          <td data-label="Wohnort">{{user?.street}} {{user?.number}}</td>
          <td data-label="Telefonnummer">{{user?.phonenumber}}</td>
          <td data-label="E-Mail">{{user?.email}}</td>
          <td data-label="Impfung"><select formControlName="hasvaccination" class="ui selection dropdown" (change)="editVaccinationStatus($event, user)">
              <option value="true" [selected]="user?.hasvaccination">Geimpft</option>
              <option value="false" [selected]="!user?.hasvaccination">Nicht geimpft</option>
                  </select>
        </tr>
      </tbody>
    </table>
  </ng-template>
</div>
<br>
<button routerLink=".." class="ui left floated labeled icon button tiny"><i class="left arrow icon"></i>Zurück zur Übersicht</button>
<div *ngIf="user?.isadmin == true && authService.isLoggedIn()">
  <button class="ui right floated tiny gray labeled icon button" (click)="removeVaccination()">
  <i class="remove icon"></i>
  Löschen
</button>

  <a class="ui right floated tiny gray labeled icon button" [routerLink]="['../../admin', vaccination.id]">
    <i class="write icon"></i>
    Bearbeiten</a>
</div>
<div *ngIf="user?.isadmin == false && authService.isLoggedIn() && user?.vaccination_id == null">
  <button class="ui right floated teal tiny button" (click)="addUserToVaccination($event, user)">Zur Impfung anmelden</button>
</div>

<br>
<br>