<br>
<div class="ui">
  <h2 class="ui left floated header">{{vaccination?.location.city}} | {{vaccination?.location.description}}</h2>
  <div class="ui left centered content">

  </div>
  <div class="ui clearing divider"></div>
  <div class="ui left centered content">
    <i class="calendar icon"></i>
    {{vaccination?.date | date:'EEEE, dd.MM.yyyy'}}<br>
    <i class="users icon"></i>
    Anzahl der aktuellen Teilnehmer*innen: {{getcurParticipants()}} /{{ vaccination?.max_participants }}<br>

    <i class="clock icon"></i>
    Uhrzeit: {{vaccination?.time}} <br>
    <i class="map pin icon"></i>
    {{vaccination?.location.l_street}}
    {{vaccination?.location.l_number}} |
    {{vaccination?.location.plz}} {{vaccination?.location.city}}
  </div>
</div>
<br>
<div *ngFor="let user of vaccination.users">
  <div *ngIf="checkMaxParticipants()" class="ui warning message">
    <i class="warning icon"></i>
    Es sind keine Plätze für diesen Termin frei

  </div>
  <br>
</div>

<div *ngIf="user?.isadmin == true && authService.isLoggedIn()">
  <div *ngIf="!vaccination?.users.length; else Show">
    <div class="ui warning message">
      <div class="ui icon">
        <i class="users icon"></i>
        Es sind noch keine Personen für diese Impfung angemeldet.
      </div>
    </div>
  </div>
  <ng-template #Show>
    <h2>Übersicht der Teilnerhmer*innen</h2>
    <table class="ui selectable celled table">
      <thead>
        <tr>
          <!--<th>Geschlecht</th>-->
          <th>Name</th>
          <th>Geburtsdatum</th>
          <th>SVNR</th>
          <th>Wohnort</th>
          <th>Telefonnummer</th>
          <th>E-Mail</th>
          <th>Impfstatus</th>
        </tr>

      </thead>
      <tbody>
        <tr *ngFor="let user of vaccination?.users">
          <!--<td data-label="Geschlecht">{{user.gender}}</td>-->
          <td data-label="Name">{{user?.firstname}} {{user?.lastname}}</td>
          <td data-label="Geburtsdatum">{{user?.birth | date:' dd.MM.yyyy'}}</td>
          <td data-label="SVNR">{{user?.svnr}}</td>
          <td data-label="Wohnort">{{user?.street}} {{user?.number}}</td>
          <td data-label="Telefonnummer">{{user?.phonenumber}}</td>
          <td data-label="E-Mail">{{user?.email}}</td>
          <td data-label="Impfung"><select formControlName="hasvaccination" class="ui selection dropdown" (change)="editVaccinationStatus($event, user)">
              <option value="true" [selected]="user?.hasvaccination">Geimpft</option>
              <option value="false" [selected]="!user?.hasvaccination">Nicht geimpft</option>
                  </select>
        </tr>
      </tbody>
    </table>
    <br>
  </ng-template>
</div>

<button routerLink=".." class="ui left floated labeled icon button tiny"><i class="left arrow icon"></i>Zurück zur Übersicht</button>
<div *ngIf="user?.isadmin == true && authService.isLoggedIn()">
  <button class="ui right floated tiny gray labeled icon button" (click)="removeVaccination()">
  <i class="remove icon"></i>
  Löschen
</button>

  <button class="ui right floated tiny gray labeled icon button" [routerLink]="['../../admin', vaccination.id]">
    <i class="write icon"></i>
    Bearbeiten</button>
</div>
<div *ngIf="user?.isadmin == false && authService.isLoggedIn() && user?.vaccination_id == null">
  <button class="ui right floated teal tiny button" (click)="addUserToVaccination($event, user)">Zur Impfung anmelden</button>
</div>
<div
  *ngIf="user?.isadmin == false && authService.isLoggedIn() && user?.vaccination_id && user?.vaccination_id == vaccination.id">
  <button class="ui right floated teal tiny button" (click)="removeUserFromVaccination()">Impfanmeldung stornieren</button>
</div>

<br>
<br>